.toolbar-title {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
}

.warning-text {
  color: map-get($colors, danger) !important;
}

.message {
  margin: 20px;
  padding: 20px;
  background-color: map-get($colors, light);
  font-size: 0.8em;
}
